body,html{
	height: 100%;
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	text-align: center;
	color: white;
}


.container {
	content: "";
	background-image: url("adama.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: -1;
}
