body{
	
	height: 100%;
	margin: 0;
	padding: 0;
	}
.container{
	position: relative;
	text-align: center;
	padding: 20px;
	color: #fff;
}


.container {
	content: "";
	background-image: url("dossier.images/img9C.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: -1;
}
a{
	color: #f00;
}
#p1{
	color: #f00;
}